body {
  margin: 0;
  background-color: rgb(39, 39, 39);
}

h1 {
  text-align: center;
  color: white;
  font-weight: 600;
}

.left {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(77, 77, 77);
}

input {
  border: 1px solid red;
}

details {
  width: 40%;
  font-size: small;
  padding: 10px;
  color: white;
}

.form-control::placeholder {
  color: white;
  opacity: .3;
}

#result {
  opacity: 0;
}
